.sidebar {
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-links ul {
  list-style: none;
  display: flex;
  flex-direction:  column;
}

.sidebar-links li {
  width:  10%;
  margin: 0.5rem 0;
}

